<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448017006997-vd2clm8qrl0hc22btkft8c2duc2tlrev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448017006997-vd2clm8qrl0hc22btkft8c2duc2tlrev</string>
	<key>API_KEY</key>
	<string>AIzaSyAT62ekfgVMSnsVSozinYQ3idpySh7lcic</string>
	<key>GCM_SENDER_ID</key>
	<string>448017006997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goldeniroakaziy.todo</string>
	<key>PROJECT_ID</key>
	<string>to-do-auth-c796b</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-auth-c796b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448017006997:ios:b7c440cdb1114cc8deb69c</string>
</dict>
</plist>